/* Globale Schriftart und Farben */
html, body {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  footer a:hover {
    color: #d4edda;
  }
  
  .hero-btn {
    border-radius: 50px;
  }
  
  